*{

    
}






body{
    margin: 0px;

}
header.header img{
    width: 250px;
}


section.top-page{
    background: url("../gihujkbh/armand.jpg");
    background-size: cover;
    height:100vh;
}